<div id='enemy_display' class='side'>
  <div class='details'>
    <div class='name'>
      {{enemy.name}}
    </div>
    <div class='health-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{enemy.health_percent}}%'/>
        <div class='label'>HP: {{enemy.health}}/{{enemy.max_health}}</div>
      </div>
    </div>
    <div class='time-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{enemy.time_unit_percent}}%'/>
        <div class='label'>TU: {{enemy.time_units}}/{{max_time_units}}</div>
      </div>
    </div>
    <div class='status-effects'>
      {{#each enemy.buffs}}
        <span class='buff'>{{.}}</span>
      {{/each}}
      {{#each enemy.debuffs}}
        <span class='debuff'>{{.}}</span>
      {{/each}}
    </div>
  </div>
  <div class='picture'>
    <img src='{{enemy.image}}' />
  </div>
</div>
<div id='between'>VS</div>
<div id='own_display' class='side'>
  <div class='details'>
    <div class='name'>
      {{own.name}}
    </div>
    <div class='health-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{own.health_percent}}%'/>
        <div class='label'>HP: {{own.health}}/{{own.max_health}}</div>
      </div>
    </div>
    <div class='time-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{own.time_unit_percent}}%'/>
        <div class='label'>TU: {{own.time_units}}/{{max_time_units}}</div>
      </div>
    </div>
    <div class='status-effects'>
      {{#each own.buffs}}
        <span class='buff'>{{.}}</span>
      {{/each}}
      {{#each own.debuffs}}
        <span class='debuff'>{{.}}</span>
      {{/each}}
    </div>
  </div>
  <div class='picture'>
    <img src='{{own.image}}' />
  </div>
</div>
