<div id='side_two' class='side'>
  <div class='details'>
    <div class='name'>
      {{side_two.name}}
    </div>
    <div class='health-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{side_two.health_percent}}%'/>
        <div class='label'>HP: {{side_two.health}}/{{side_two.max_health}}</div>
      </div>
    </div>
    <div class='time-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{side_two.time_unit_percent}}%'/>
        <div class='label'>TU: {{side_two.time_units}}/{{side_two.max_time_units}}</div>
      </div>
    </div>
  </div>
  <div class='picture'>
    <img src='{{side_two.image}}' />
  </div>
</div>
<div id='between'>VS</div>
<div id='side_one' class='side'>
  <div class='details'>
    <div class='name'>
      {{side_one.name}}
    </div>
    <div class='health-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{side_one.health_percent}}%'/>
        <div class='label'>HP: {{side_one.health}}/{{side_one.max_health}}</div>
      </div>
    </div>
    <div class='time-bars bar-container'>
      <div class='inside-bar-container'>
        <div class='background-bar' />
        <div class='foreground-bar' style='width:{{side_one.time_unit_percent}}%'/>
        <div class='label'>TU: {{side_one.time_units}}/{{side_one.max_time_units}}</div>
      </div>
    </div>
  </div>
  <div class='picture'>
    <img src='{{side_one.image}}' />
  </div>
</div>
