<div class='move-selector menu'>
  {{#each spirits}}
    <div class='spirit' data-id='{{id}}'>
      <div class='header'>
        <div class='left'>
          <div class='label'>
            <span class='name'>{{name}}</span>
            <span class='move-count'>{{number_equipped_moves}} / {{max_equipped_moves}} moves equipped.</span>
          </div>
          <div class='portrait'>
            <img src='{{image}}' />
          </div>
        </div>
        <div class='section stats'>
          <div>STATS</div>
          <div class='subsection'>Species: {{species}}</div>
          {{#if subspecies.exists}}
            <div class='subsection'>Subpecies: {{subspecies}}</div>
          {{/if}}
          <div class='subsection'>Health: {{health}}</div>
          <div class='subsection'>Smarts: {{smarts}}</div>
        </div>
        <div class='section experience'>
          <div>EXPERIENCE</div>
          <div class=' subsection total'>Total: {{experience.total}}</div>
          <div class='natures'>
            {{#each experience.natures}}
              <div class='subsection nature {{id}}'>{{name}}: {{value}}</div>
            {{/each}}
          </div>
        </div>
        {{#if dismissable}}
          <div class='section right'>
            <button class='dismiss'>
              DISMISS
            </button>
          </div>
        {{/if}}
        <div class='section right'>
          <button class='shift-up'>Move UP</button>
          <button class='shift-down'>Move DOWN</button>
        </div>
      </div>
      <div class='moves'>
        {{#each moves}}
          {{#if equipped}}
            <div class='move equipped' data-id='{{move_id}}'>
              <div class='name'>{{name}}: <span class='equipped-tag'>EQUIPPED</span></div>
              <div class='description'>
                {{description}} 
                {{#if time_units}}
                  [TIME COST: {{time_units}}]
                {{else}}
                  [PASSIVE]
                {{/if}}
              </div>
              {{#if incomplete}}
                <div class='incomplete-tag'>INCOMPLETE</div>
              {{/if}}
            </div>
          {{else}}
            <div class='move unequipped' data-id='{{move_id}}'>
              <div class='name'>{{name}}:</div>
              <div class='description'>
                {{description}} 
                {{#if time_units}}
                  [TIME COST: {{time_units}}]
                {{else}}
                  [PASSIVE]
                {{/if}}
              </div>
              {{#if incomplete}}
                <div class='incomplete-tag'>INCOMPLETE</div>
              {{/if}}
            </div>
          {{/if}}
        {{/each}}
      </div>
      {{#if subspecies.exists}}
        <div class='move-title'>
          <span class='name'>Subspecies Moves:</span>
          <span class='move-count'>{{subspecies.number_equipped_moves}} / {{subspecies.max_equipped_moves}} moves equipped.</span>
        </div>
        <div class='moves subspecies-moves'>
          {{#each subspecies.moves}}
            {{#if equipped}}
              <div class='move equipped' data-id='{{move_id}}'>
                {{name}}
                <span class='equipped-tag'>EQUIPPED</span>
              </div>
            {{else}}
              <div class='move unequipped' data-id='{{move_id}}'>
                {{name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>
