<div id='map-zone'>
  <table id='map-display'>
    {{#each map.rows}}
      <tr data-row='{{@index}}'>
        {{#each .}}
          <td class='cell {{class}}' data-column='{{@index}}'>
            {{#if occupied}}
              @
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
  <div class='move-selector menu'>
    {{#each team.spirits}}
      <div class='spirit' data-id='{{id}}'>
        <div class='header'>
          <span class='name'>{{name}}</span>
          <span class='move-count'>{{number_equipped_moves}} / {{max_equipped_moves}} moves equipped.</span>
          <div class='portrait'>
            <img src='{{image}}' />
          </div>
        </div>
        <div class='moves'>
          {{#each moves}}
            {{#if equipped}}
              <div class='move equipped' data-id='{{move_id}}'>
                {{name}}
                <span class='equipped-tag'>EQUIPPED</span>
              </div>
            {{else}}
              <div class='move unequipped' data-id='{{move_id}}'>
                {{name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
    {{/each}}
  </div>
</div>

